@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 46,48,61;
    --background-start-rgb: 46,48,61;
    --background-end-rgb: 46,48,61;
}
/* 
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 225, 195;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

@layer base {
    /* scrollbar css */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: #050505;
        border-width: 2px;
        border-color: white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #252525;
        border-radius: 10px;
    }

    :-webkit-scrollbar-thumb:hover {
        background-color: #454545 !important;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
